* {
	box-sizing: border-box;
}

html {
	font-family: 'Baloo Da', cursive;
	color: #FF8000;
}

body {

	background-color: #000;
	margin: -8px;
}

button {
	height: 50px;
	background-color: orange;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

.sidenav {
	height: 100%; /* goes entire height of page */
	width: 250px; /* width of bar */
	position: fixed; /* stay in place */
	z-index: 1; /* stay on top */
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden; 
	padding-top: 60px;
}

.sidenav li {
	list-style: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

#main {
	height: 100%;
	margin-left: 275px;
	background: 
    linear-gradient(0deg, #000, transparent), 
    #000 url("../img/meface.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#main-cat {
	height: 100%;
	margin-left: 275px;
	background: linear-gradient(0deg, #000, transparent),
	#000 url("../img/kp.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#hello {
	padding-top: 250px;
}