* {
	box-sizing: border-box;
}

html {
	font-family: 'Baloo Da', cursive;
	color: #FF8000;
}

body {

	background-color: #000;
	margin: -8px;
}

button {
	height: 50px;
	background-color: orange;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

a::hover {
	color: orange;
}

.sidenav {
	height: 100%; /* goes entire height of page */
	width: 250px; /* width of bar */
	position: fixed; /* stay in place */
	z-index: 1; /* stay on top */
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden; 
	padding-top: 60px;
}

.sidenav li {
	list-style: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

#main {
	height: 100%;
	margin-left: 275px;
	background: 
    linear-gradient(0deg, #000, transparent), 
    #000 url("../img/meface.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#main-cat {
	height: 100%;
	margin-left: 275px;
	background: linear-gradient(0deg, #000, transparent),
	#000 url("../img/kp.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#main-weather {
	height: 100%;
	margin-left: 275px;
	background: linear-gradient(0deg, #000, transparent),
	#000 url("../img/sky.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#main-contact {
	height: 100%;
	margin-left: 275px;
	background: linear-gradient(0deg, #000, transparent),
	#000 url("../img/metree.jpg") no-repeat center center;
	background-size: cover;
	height: 90vh;
	padding: none;
}

#hello {
	padding-top: 250px;
}

#cats {
	padding-top: 250px;
	margin: -8px;
}

#weather {
	padding-top: 250px;
}

#contact {
	padding-top: 250px;
}

.container {
    display: inline-block;
    cursor: pointer;
    border: solid;
    border-radius: 10px;
    padding: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FF8000;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}